<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">User name</label>
      <input
        type="text"
        class="form-control"
        placeholder="name"
        formControlName="username"
        [ngClass]="{ 'is-invalid': username.invalid }"
      />
      <app-field-error
        [message]="username.message"
        [hidden]="!username.invalid"
      >
      </app-field-error>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="pa$$w0rD"
        formControlName="password"
        [ngClass]="{ 'is-invalid': password.invalid }"
      />
      <app-field-error
        [message]="password.message"
        [hidden]="!password.invalid"
      ></app-field-error>
    </div>
    <ng-container *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (closed)="close(alert)">{{
        alert.message
      }}</ngb-alert>
    </ng-container>

    <ng-container *ngIf="!isUserNotConfirmed; else userNotConfirmed">
      <div class="d-flex justify-content-center mb-3">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!form.valid || hasSendSignin"
        >
          Sign In
          <div
            class="spinner-border spinner-border-sm"
            [hidden]="!hasSendSignin"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </div>
    </ng-container>
    <ng-template #userNotConfirmed>
      <div
        *ngIf="isUserNotConfirmed"
        class="d-flex justify-content-center mb-3"
      >
        <a
          class="btn btn-primary"
          [routerLink]="['/auth']"
          [queryParams]="{
            user: form.value.username,
            confirmSignUp: true,
            resend: true
          }"
        >
          Send confirmation code
        </a>
      </div>
    </ng-template>
  </form>
</div>
