<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">User name</label>
      <input
        type="text"
        class="form-control"
        placeholder="name"
        formControlName="username"
      />
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="name@example.com"
        formControlName="password"
      />
    </div>
    <div class="d-flex justify-content-center mb-3">
      <button type="submit" class="btn btn-primary">Sign In</button>
    </div>
    <div *ngIf="isUserNotConfirmed" class="d-flex justify-content-center mb-3">
      <a
        class="btn btn-primary"
        [routerLink]="['/auth']"
        [queryParams]="{
          user: form.value.username,
          confirmSignUp: true,
          resend: true
        }"
      >
        Send confirmation code
      </a>
    </div>
  </form>
</div>
