@use "variables.scss" as v;

@mixin outline {
  outline: none;
  border: 0px;
  border-bottom: 1px;
  border-bottom-color: darken(v.$lightgray, 30%);
  border-bottom-style: inset;
}

@mixin counter-message {
  & + .counter-message {
    display: none;
  }
  &:focus + .counter-message {
    display: block;
    font-size: 100%;
    .counter {
      position: relative;
      float: right;
    }
  }
}

textarea {
  @include outline;
  @include counter-message;

  width: 100%;
  color: darken(v.$lightgray, 60%);
  resize: vertical;
}

textarea[name="title"] {
  font-size: xx-large;
}
