<div class="container">
  <form [formGroup]="form">
    <div class="row">
      <div class="col">
        <input name="title" formControlName="title" placeholder="Image Title" />
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <textarea
          name="description"
          formControlName="description"
          placeholder="Image description"
          autoExpand
          [min-rows]="1"
          [max-rows]="10"
          rows="1"
          wrap="soft"
        ></textarea>
      </div>
    </div>
  </form>
</div>
