<div class="container">
  <p>An e-mail was send to your address with the confirmation code</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Confirmation code</label
      >
      <input
        type="text"
        class="form-control"
        placeholder="######"
        formControlName="code"
      />
    </div>

    <div class="d-flex justify-content-center mb-3">
      <button type="submit" class="btn btn-primary">Verify code</button>
    </div>
  </form>
</div>
