@use "variables.scss" as v;

.search {
  .icon {
    position: fixed;
    top: 18px;
  }
  input {
    width: 100%;
    margin-left: 20px;
    background-color: v.$lightgray;
    &,
    &:focus,
    &:focus-visible {
      border: 0px;
      outline: none;
    }
  }
}
